h1 {
    color: yellow;
}
h1 { 
    color: green;
}
p {
    color: black;
}
p { 
    background-color: lightblue;
}
body {
    background-color: lightgreen;
}
footer {
    color: black;
    font-size: larger;
    font-weight: bolder;
}
footer {
    background-color: lightblue;
}